*.cache
*.suo
*.testlog
MyStoreTestProject/bin/Debug/
MyStoreTestProject/obj/Debug/
SeleniumWebdriver/bin/Debug/
SeleniumWebdriver/obj/Debug/
MyStoreTestProject/packages/
MyStoreTestProject/.vs/MyStoreTestProject/v16/TestStore/0/testlog.manifest
