<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--ConfigurationManager is from a DLL we added called System.Configuration-->
		<!--It enables me to read a configuration file "App.config"-->
		<!--You need to have <configuration> and <appSettings> in App.config-->
		
		<!--Advantage is you can change the value, it will reflect on the whole test when run-->
		
		<add key="BrowserType" value="Firefox"/>
		<add key="Username" value="User"/>
		<add key="Password" value="Pass"/>
		
	</appSettings>	
</configuration>